<br>

<div class="row">
  <button class="plaid" style="width: 100%;"> Apply to Plaid </button>
</div>

<script type="application/javascript">
  $('button.plaid').on("click", function(event) {

    var data = {
      name: "Sam Balinghasay",
      email: "samuel.balinghasay@gmail.com",
      resume: "samuel.io/resume.pdf",
      other: {
        github: "github.com/samuelmb",
        website: "samuel.io",
        linkedin: "http://www.linkedin.com/pub/samuel-balinghasay/15/36/973"
      }
    }
    debugger
    $.ajax({
      type: "POST",
      url: "https://plaid.io/jobs/submit",
      data: data,
      success: function(arg1, arg2, arg3) {
        debugger
      },
      error: function(arg1, arg2, arg3) {
        debugger
      }
    });
  });


</script>