
<div class="container row panel">
  
  <div class="row">
    <div class="small-12 columns">
      <h1 class="subheader">Hi, I'm <strong>Sam Balinghasay.</strong></h1> 
      <h3 class="subheader">I love clean code, clean design, clean interfaces, but dirty twerking.</h3> 
    </div>
  </div>

</div>