<div class="row">
  <div 
    data-0="
      position: fixed; 
      left:50%; 
      margin-left: -45%; 
      top: 20px; 
      width: 90%; 
      border-color: rgba(200,200,200, 1);
      background-color: rgba(255, 255, 255, 0.8);"
    data-1000="
      left: 0%; 
      margin-left: -60%; 
      border-color: rgba(200, 200, 200,0);
      background-color: rgba(255, 255, 255, 0.0);" 

    class="panel">
    <div class="small-8 columns">
        <h1 class="subheader">Hi, I'm <strong>Sam.</strong></h1> 
        <h3 class="subheader">I love clean code, clean design, and clean interfaces. It's good to meet you.</h3> 

    </div>

    <div class="small-4 columns">
      <div class="large-12 sidenav right columns">
        <ul class="no-bullet subheader">
          <li> <h4> <a id="projects"> Projects </a> </h4> </li>
          <li> <h4> <a id="resume"> Resume </a> </h4> </li>
          <li> <h4> <a id="contact"> Contact </a> </h4> </li>
        </ul>
      </div>
    </div>

    <div 
      class="small-12 projects"
      style="position: fixed;
             top: 100%;
             left: 30%;
             width: 70%;"
      data-0="top: 100%;
              opacity: 0;"
      data-1000="top: 5%;
                opacity: 1;"
      data-2000="top: 5%;"
      data-3000="top: -100%;">
        <h2> Projects </h2>
        <hr>
        <div class="panel">
          <h3> 
            Choicer<br> <small class="subheader">Live polling, made simple.</small> 
          </h3>
        </div>
    </div>

    <div 
      class="small-12 resume"
      style="position: fixed;
             top: 100%;
             left: 30%;
             width: 70%;"
      data-2000="top: 100%;
              opacity: 0;"
      data-3000="top: 5%;
                opacity: 1;"
      data-4000="top: 5%;"
      data-5000="top: -100%;">
        <h2> Resume </h2>
        <hr>
        <div class="panel">
          You can download a pdf version of my resume <a href="resume.pdf"> here</a>.
        </div>
    </div>

    <div 
      class="small-12 contact"
      style="position: fixed;
             top: 100%;
             left: 30%;
             width: 70%;"
      data-4000="top: 100%;
              opacity: 0;"
      data-5000="top: 5%;
                opacity: 1;"
      data-6000="top: 5%;">
        <h2> Contact </h2>
        <hr>
        <div class="panel">
          I'm best reachable on gmail: <br>
            <blockquote>samuel.balinghasay@gmail.com</blockquote>
        </div>
    </div>

  </div>
