<div class="row">
  <div 
    data-0="
      position: fixed; 
      left:50%; 
      margin-left: -45%; 
      top: 20px; 
      width: 90%; 
      border-color: rgba(200,200,200, 1);
      background-color: rgba(255, 255, 255, 0.8);"
    data-1000="
      left: 0%; 
      margin-left: -60%; 
      border-color: rgba(200, 200, 200,0);
      background-color: rgba(255, 255, 255, 0.0);" 

    class="panel">
    <div class="small-8 columns">
        <h1 class="subheader">Hi, I'm <strong>Sam.</strong></h1> 
        <h3 class="subheader">I love clean code, clean design, and clean interfaces. It's good to meet you.</h3> 

    </div>

    <div class="small-4 columns">
      <div class="large-12 sidenav right columns">
        <ul class="no-bullet subheader">
          <li> <h4> <a href="#" id="projects"
            data-500="
              border-left: 3px solid rgba(41, 128, 185, 0.0);"
            data-1000="
              border-left: 3px solid rgba(41, 128, 185, 1.0);"
            data-3000="
              border-left: 3px solid rgba(41, 128, 185, 1.0);"
            data-3500="
              border-left: 3px solid rgba(41, 128, 185, 0.0);"> 
              Projects 
            </a> </h4> </li>
          <li> <h4> <a href="#" id="resume"
            data-4000="
              border-left: 3px solid rgba(41, 128, 185, 0.0);"
            data-4500="
              border-left: 3px solid rgba(41, 128, 185, 1.0);"
            data-5500="
              border-left: 3px solid rgba(41, 128, 185, 1.0);"
            data-6000="
              border-left: 3px solid rgba(41, 128, 185, 0.0);"> 
            Resume 
          </a> </h4> </li>
          <li> <h4> <a href="#" id="contact"
            data-6000="
              border-left: 3px solid rgba(41, 128, 185, 0.0);"
            data-6500="
              border-left: 3px solid rgba(41, 128, 185, 1.0);"
            data-7500="
              border-left: 3px solid rgba(41, 128, 185, 1.0);"
            data-8000="
              border-left: 3px solid rgba(41, 128, 185, 0.0);"> 
            Contact 
          </a> </h4> </li>
        </ul>
      </div>
    </div>

    <div 
      class="small-12 projects"
      style="position: fixed;
             top: 100%;
             left: 30%;
             width: 65%;"
      data-0="top: 100%;
              opacity: 0;"
      data-1000="top: 5%;
                opacity: 1;"
      data-2000="top: -45%";
      data-3000="top: -95%;"
      data-4000="top: -250%;">
        <h2> Projects </h2>
        <hr>
        <div class="panel">
          <h3> Choicer </h3>
          <h6 class="subheader"><em>September 2013</em></h6> 
          <img src="assets/choicer_0.png">
          <p>
            Choicer is a live-polling and scheduling application I built from the ground up. The API layer on the server-side was built using Ruby on Rails, and the client-side front-end interactions were created using Javascript (with the Backbone.js framework).
          </p>
          <p>
            The live website can be found at <a href="http://www.choicer.cc">choicer.cc</a>; the commented codebase and a README detailing the features of the Choicer web application can be found on my github at <a href="http://www.github.com/samuelmb/choicer">github.com/samuelmb/choicer</a>.
          </p>
        </div>
        <div class="panel">
          <h3> Gist Clone </h3>
          <h6 class="subheader"><em>August 2013</em></h6> 
          <img src="assets/gist_0.png">
          <p>
            I cloned Github's <a href='http://gist.github.com/'>gist</a> interface, using Backbone.js on top of an API layer served by Ruby on Rails. Features include the ability to like/favorite certain gists, tag gists with keywords, line numbering, preservation of whitespace, and more.
          </p>
          <p>
            The codebase is available to fork at <a href="http://www.github.com/samuelmb/gist">github.com/samuelmb/gist</a>.
          </p>
        </div>
    </div>

    <div 
      class="small-12 resume"
      style="position: fixed;
             top: 100%;
             left: 30%;
             width: 65%;"
      data-3500="top: 100%;
              opacity: 0;"
      data-4500="top: 5%;
                opacity: 1;"
      data-5500="top: 5%;"
      data-6500="top: -100%;">
        <h2> Resume </h2>
        <hr>
        <div class="panel">
          You can download a pdf version of my resume <a href="resume.pdf"> here</a>.
        </div>
    </div>

    <div 
      class="small-12 contact"
      style="position: fixed;
             top: 100%;
             left: 30%;
             width: 65%;"
      data-5500="top: 100%;
              opacity: 0;"
      data-6500="top: 5%;
                opacity: 1;"
      data-7500="top: 5%;">
        <h2> Contact </h2>
        <hr>
        <div class="panel">
          I'm best reachable on gmail: <br>
            <blockquote>samuel.balinghasay</blockquote>
        </div>
    </div>

  </div>
