// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';
@import 'foundation_and_overrides';

body {
  border-top: 5px solid $primary-color;
}

.container {
  margin-top: 30px;
  padding: 0 30px;
}

img {
  border: 1px solid $asbestos;
  margin-bottom: 10px;
}

.sidenav {
  vertical-align: center;
}

.sidenav a {
  padding-left: 5px;
}